{% extends 'layout.html.twig' %}

{% block content %}
    <section class="adopte-container">

			<article>
				<div class="box_a">
					<h1>Lire avant d'adopter</h1>
                    <h2>Les adoptions</h2>
				<p>
					Environ 120 chiens et 120 chats sont présents chaque jour au Bois Rulaud.<br>
                     Ce que nous souhaitons pour chacun d’entre eux,<br>
                     c’est de les confier à une bonne famille qui leurs donnera leur deuxième chance.<br>
                     L’adoption de nos animaux est un acte de responsabilité.<br>
                     C’est un choix qui engage l’adoptant pour de nombreuses années.<br>
                     Au refuge tout est fait pour que l’animal adopté corresponde le plus possible au désir des futurs propriétaires.
                    <br>C’est par un dialogue minutieux entre les employés et les visiteurs que le choix du chien ou du chat est suggéré.
                    <br>Afin d’engager la responsabilité des adoptants, le gouvernement, en octobre 2022,<br>
                    a publié le décret « certificat d’engagement et de connaissance » : Ce certificat concerne les animaux de compagnie et les équidés.
                    <br>Il est délivré soit par un propriétaire, un vétérinaire, un éleveur, un responsable d’un refuge ou d’une association de protection animale.
                    <br>L’acquéreur ou l’adoptant signe lisiblement ce document par lequel il s’engage à respecter les besoins de l’animal.
                    <br>Ceux-ci sont : les besoins physiologiques, comportementaux et médicaux de l’espèce.
                    <br>les obligations vis-à-vis de l’identification.
                    <br>Les implications de la détention : Coûts financiers (nourriture, soins, espace nécessaire et sorties quotidiennes).
                    <br>Au refuge du Bois Rulaud, pour chaque adoption la remise d’un certificat d’engagement et de connaissance est signé par le nouveau propriétaire en deux exemplaires.De plus, chaque cession d’un chien ou d’un chat sera confirmée après un essai de quinze jours
				</p>
                </div>
            </article>
            <article>
                <div class="box_b">
                <h2>Adopter chiens</h2>
                <img src="/assets/images/BDD_chien.jpg" alt="chien">
                 <a href="adoptdog" target="_blank" role="button">Chiens</a>
                </div>
			</article>
            <article>
				<div class="box_c">
                    <h2>Adopter chats</h2>
					<img src="/assets/images/Nimue.jpg" alt="chat">
	                <a href="adoptcat" target="_blank" role="button">Chats</a>
                </div>
            </article>
            <article>
             <h2>Nouvelles de nos adoptés</h2>
				<div class="box_d">
                    <div>
					<img src="/assets/images/angie.jpg" alt="ang">
                    <h3>Angie</h3>
                    </div>
                    <div>
                    <img src="/assets/images/Arthur.jpg" alt="art">
                    <h3>Arthur</h3>
                    </div>
                    <div>
                    <img src="/assets/images/Donald.jpg" alt="don">
                    <h3>Donald</h3>
                    </div>
                    <div>
                    <img src="assets/images/Ilea.JPG" alt="ile">
                    <h3>Ilea</h3>
                    </div>
                    <div>
	                <img src="assets/images/Anna.JPG" alt="ann">
                    <h3>Anna</h3>
                    </div>
                    <div>
                    <img src="assets/images/cookie.JPG" alt="coo">
                    <h3>Cookie</h3>
                    </div>
                    <div>
                    <img src="assets/images/Jacob.JPG" alt="jac">
                    <h3>Jacob</h3>
                    </div>
                    <div>
                    <img src="assets/images/Pivoine.JPG" alt="piv">
                    <h3>Pivoine</h3>
                    </div>
                </div>
            </article>
    </section>
{% endblock %}
