{% extends 'layout.html.twig' %}

{% block content %}
    <section class="accueil-container">

			<article>
				<div class="box a">
					<img src="/assets/images/merlin.jpg" alt="merlin">
					<h2>Droits des Annimaux</h2>

				<p>
					Les personnes qui possèdent<br> un ou des animaux doivent en connaître leurs droits.
                    <br>Rappel de la loi du 10 novembre 1982 chapitre II concernant les animaux de compagnie
				</p>
                <a href="assets\images\droits.pdf" target="_blank" role="button">voir</a>
                </div>
            </article>
            <article>
                <div class="box b">
                <h2>Pour information</h2>
                <p>Le fait de détenir un chien ou un chat non identifié
                 par puce ou tatouage dermique
                 né après le 1er janvier 2012 peut être puni d'une amende de 750€.<br><br>

Loi du 21/12/2020</p>
                </div>
			</article>
            <article>
				<div class="box c">
					<img src="/assets/images/chien.jpg" alt="chien">
					<h2>Lettre de la Présidente</h2>

				<p>
					Qui a dit « Ce qui ne nous tue pas, nous rend plus fort. » ?
Je ne sais plus… Mais si ce présage est crédible, je me dis que notre SPA doit être vraiment très très forte après toutes les difficultés que nous avons subies ces dernières années et qui ne nous ont pas tués.
				</p>
                <h3>Yva MOYON</h3>
                <a href="assets\images\presidente.pdf" target="_blank" role="button">voir</a>
                </div>
            </article>
    </section>
{% endblock %}
