{% extends 'layout.html.twig' %}

{% block content %}
    <section class="accueil-container">

			<article>
				<div>
					<img src="/assets/images/merlin.jpg" alt="merlin">
					<h2>Droits des Annimaux</h2>
				</div>
				<p>
					Les personnes qui possèdent<br> un ou des animaux doivent en connaître leurs droits.
                    <br>Rappel de la loi du 10 novembre 1982 chapitre II concernant les animaux de compagnie
				</p>
				<a href="assets\images\droits.pdf" target="_blank" role="button">voir</a>
			</article>
{% endblock %}
