<footer class="footer-responsive">
	<span>
		<a href="#">
			Autres_sites

		</a>
	</span>


	<span>
		<a href="assets\images\Identité.pdf" target="_blank">
			Mentions-légales

		</a>
	</span>
	<span>
		<a href="assets\images\Confidentialite.pdf" target="_blank">
			Confidentialité

		</a>
	</span>
	<span>
		&copy;SPA 2023

	</span>


	<a href="https://www.facebook.com/profile.php?id=100090301962101">
		<img src="assets\images\FB.JPG" alt="Logo"></a>
</footer>
