<footer class="footer-responsive">
	<p>
		<a href="#">Autres_sites</a>
	</p>

<p>

	<a href="assets\images\Identité.pdf" target="_blank">Mentions-légales</a></p>
	<p><a href="assets\images\Confidentialite.pdf" target="_blank">Confidentialité</a>

</p>
<p>
	&copy;SPA<br>2023

</p>


<a href="https://www.facebook.com/profile.php?id=100090301962101">
	<img src="assets\images\FB.JPG" alt="Logo">
</a>
</footer>
